<div class=container >
  <div class="banner-exploit">
    <div class="exploit-description">
      <h1> <%= @exploitation.name %> </h1>
         <%= @exploitation.description %>
    </div>
    <div class="carte-exploitation" style="width: 50%; height: 300px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="row">
    <% @produits.each do |produit| %>
      <div class="col-md-4 flex justify-content-center">
        <div class="card my-1">
          <div class="card-product">
            <div class="card-product-img">
                  <% if produit.photo.attached? %>
                    <%= link_to(cl_image_tag(produit.photo.key, crop: :fill), exploitation_produit_path(exploitation_id: produit.exploitation_id, id: produit.id)) %>
                  <% else %>
                    <p width: 100>pas de photo</p>
                  <% end %>
            </div>
            <div class="card-product-infos">
              <div><h2><%= link_to produit.name, exploitation_produit_path(exploitation_id: produit.exploitation_id, id: produit.id) %></h2></div>
              <div><h5> <%= number_with_precision(produit.price, precision: 2) %>€ <%= produit.quantity %> </h5></div>

              <% if current_user == @exploitation.user%>
                <p><%= link_to "Supprimer le produit", produit_path(produit), class: "btn button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> </p>
              <% else %>
                <% if @commande.nil? %>
                  <div class="cart-actions">
                    <div><%= link_to 'Ajouter au panier', exploitation_produit_panier_index_path(@exploitation, produit) , data: { turbo_method: :post} %></div>
                  </div>
                <% else %>
                    <div class="cart-actions">
                        <% basket = @commande.baskets.find_by(produit: produit) %>
                        <% if basket %>
                          <div><%= link_to '-', exploitation_produit_panier_path(@exploitation, produit, basket) , data: { turbo_method: :delete}, class: "minus-count" %> </div>
                        <% end %>
                          <div class="product-count"><%= @basket_counts[produit.id] %></div>
                          <div><%= link_to '+', exploitation_produit_panier_index_path(@exploitation, produit) , data: { turbo_method: :post}, class: "magnus-count" %></div>
                      <%# <% end %>
                    </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-end p-3">
    <% if current_user == @exploitation.user%>
         <%= link_to "Ajouter un nouveau produit", new_exploitation_produit_path, class:"button" %>
    <% else %>
      <% if @commande.nil? %>
        <p>La commande n'existe pas</p>
      <% else %>
        <%= link_to "Finaliser ma commande", exploitation_commande_path(@exploitation.id, @commande.id), class:"button" %>
      <% end %>
    <% end %>
  </div>

</div>
