<div class=container >
  <h1>Hello</h1>
  <div class="row">
    <% @produits.each do |produit| %>
      <div class="col-md-6">
        <div class="card my-1">
          <div class="card-product">
            <div>
                  <% if produit.photo.attached? %>
                    <%= cl_image_tag produit.photo.key, crop: :fill %>
                  <% else %>
                  <p width: 100>pas de photo</p>
                  <%end %>
            </div>
            <div class="card-product-infos">
              <div><h2><%= produit.name %></h2></div>
              <div><p class="card-product-infos">Prix <%= produit.price %>€ | Quantité <%= produit.quantity %></p></div>
              <div><%= link_to 'Ajouter au panier', baskets_path(produit.id), method: :post %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


</div>
