<div class=container >
  <div class="banner-exploit">
    <div class="exploit-description">
      <h1> <%= @exploitation.name %> </h1>
         <%= @exploitation.description %>
    </div>
    <div class="carte-exploitation" style="width: 50%; height: 300px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="row">
    <% @produits.each do |produit| %>
      <div class="col-md-6">
        <div class="card my-1">
          <div class="card-product">
            <div class="card-product img">
                  <% if produit.photo.attached? %>
                    <%= link_to(cl_image_tag(produit.photo.key, crop: :fill), exploitation_produit_path(exploitation_id: produit.exploitation_id, id: produit.id)) %>
                  <% else %>
                  <p width: 100>pas de photo</p>
                  <% end %>
            </div>
            <div class="card-product-infos">
              <div><h2><%= link_to produit.name, exploitation_produit_path(exploitation_id: produit.exploitation_id, id: produit.id) %></h2></div>
              <div><h5 class="card-product-infos">Prix <%= produit.price %>€ | Quantité <%= produit.quantity %></h5></div>

              <div><%= link_to 'Ajouter au panier', produit_panier_index_path(produit) , data: { turbo_method: :post} %></div>

              <p><%= link_to "Supprimer le produit", produit_path(produit), class: "btn button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-end p-3">
  <%= link_to "Ajouter un nouveau produit", new_exploitation_produit_path, class:"button" %>
  <% if @commande  %>
    <%= link_to "Finaliser ma commande", exploitation_commande_path(@exploitation.id, @commande), class:"button" %>
  <%end %>
  </div>

</div>
