<div class="container-valid-commande">
  <div class="table-container">
    <h1 class="text-center mb-5">Récapitulatif</h1>
    <table>
      <thead>
        <tr>
          <th>Nom du Produit</th>
          <th>Prix unitaire/kg</th>
          <th>Quantité</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% total_price = 0.00 %>
        <% @baskets.group_by(&:produit).each do |produit, baskets| %>
          <tr>
            <td><%= produit.name %></td>
            <td class="text-center"><%= number_with_precision(produit.price, precision: 2) %> €</td>
            <td class="text-center"><%= baskets.count %></td>
            <td class="text-center"><%= (produit.price.to_f * baskets.count) %> €</td>
          </tr >
          <% total_price += (produit.price.to_f * baskets.count) %>
        <% end %>
        <tr>
          <td colspan="3" class="text-right">Prix Total :</td>
          <td><%= number_with_precision(total_price, precision: 2) %> €</td>
        </tr>
      </tbody>
    </table>
  </div>

    <div class="form-creneau">
      <h1 class="text-center mb-5">Choisi ton créneau de retrait et confirme ta commande</h1>
        <%= form_with(model: [@commande, @creneau], local: true) do |form| %>
    <div>
      <label for="creneau_start_time">Veuillez choisir une heure de rendez-vous (heures d'ouverture entre 15:00 et 19:00) :</label>
      <%= form.time_field :start_time, min: "15:00", max: "19:00", required: true %>
    </div>
    <div>
      <%= form.submit "Confirmer ma commande" %>
    </div>
  <% end %>
    </div>
</div>
