<div class="navbar-container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-logo">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "Logov5.png" %>
      <% end %>
    </div>
    <div class="nom">
      <h3 class="pt-2">Ma Récolte Connectée</h3>
      <p>Envie de produits frais et locaux</p>
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
            <% if current_user.exploitations.any? %>
              <li class="nav-item active">
                <%= link_to "Ma Ferme",exploitation_produits_path(current_user.exploitations.first), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Mes commandes", exploitation_commandes_path(current_user.exploitations.first), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Mes données", "/dashboards", class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item active">
                <%= link_to "Mes producteurs" , exploitations_path, class: "nav-link"%>
              </li>
            <% end %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag current_user.user_img, class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Qui Sommes-nous?", "#", class: "dropdown-item" %>
              <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
