<div class="container mycontainer">
  <div class="row">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "panierdelegumes.jpg" %>
      <div class="carousel-caption d-md-block">
        <h2> Bienvenue chez Ma Recolte Connectée </h2>
        <p>Un site qui unis agriculteurs et client.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "marche1.jpg" %>
      <div class="carousel-caption d-md-block">
        <h2> Je propose mes produits</h2>
        <p>Ma Récolte connectée propose une facilité à l'agriculteur de pouvoir vendre les invendus de sa récolte.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "fairesonmarche.jpg" %>
      <div class="carousel-caption d-md-block">
        <h2>Je fais mon marché</h2>
        <p>Le client peut passer sa commande et retirer les produits chez son agriculteurs le plus proche.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>

  <div class="row">
    <div class="containercarte">
      <div class="col-6 p-5">
        <h1 class="my-5">Où trouver nos producteurs autour de Nantes</h1>
        <a href="/exploitations" class="button fs-4">Voir la liste des producteurs</a>
      </div>
        <div class="carte-exploitation" style="width: 50%; height: 400px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
  </div>
  <div class="row">
    <div class="containerrecettes">
      <div class="imagerecettes col-6">
      </div>
      <div class="col-6">

        <h1>Idée recette de la semaine</h1>

        <h3> Soupe de légumes </h3>
        <ul class="list">
          <li>2 Carotte(s)</li>
          <li>2 Pomme(s) de terre</li>
          <li>2 Poireau(x)</li>
          <li>3 Navet(s)</li>
          <li>4 Feuille(s) de chou</li>
        </ul>
        <ul><%= link_to "Voir la recette", "https://www.cuisineaz.com/recettes/soupes-de-legumes-au-companion-98877.aspx", target: "_blank", class:"button" %></ul>


      </div>
    </div>
  </div>
</div>
