<link rel="stylesheet" href="dashboard.css">

<h1 class="title-dashboard">Mon Exploitation</h1>

<div class="row-dashboard">
  <div class="col-md-6">
    <div class="title-dashboard">
      <%= form_for @user do |f| %>
        <h2 class="formulaire total-dashboard text-center">Mon profil</h2>

        <div class="label">
          <%= f.label :email %>
        </div>

        <div class="field">
          <%= f.email_field :email, placeholder: "Adresse email", disabled: true %>
        </div>

        <div class="label">
          <%= f.label :name %>
        </div>

        <div class="field">
          <%= f.text_field :name, placeholder: "Nom", disabled: true %>
        </div>

        <div class="label">
          <%= f.label :telephone %>
        </div>

        <div class="field">
          <%= f.text_field :telephone, placeholder: "Numéro de téléphone", disabled: false %>
        </div>

        <% @exploitations.each do |exploitation| %>
          <div class="label">
            <%= label_tag "Nom de l'exploitation" %>
          </div>

          <div class="field">
            <%= text_field_tag "exploitation_name", exploitation.name, disabled: false, placeholder: "Nom de l'exploitation" %>
          </div>

          <div class="label">
            <%= label_tag "Adresse de l'exploitation" %>
          </div>

          <div class="field">
            <%= text_field_tag "exploitation_address", exploitation.address, disabled: false, placeholder: "Adresse de l'exploitation" %>
          </div>

          <div class="label">
            <%= label_tag "Numéro SIRET" %>
          </div>

          <div class="field">
            <%= text_field_tag "exploitation_siret", exploitation.siret, disabled: false, placeholder: "Numéro SIRET" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<div class="col-md-6">
  <div class="chart-container dashboard-title">
    <!-- Insérer votre code de chart ici -->
    <canvas id="myChart" width="80" height="40"></canvas>
  </div>

<div class="podium-container">
  <h2>Top produits du mois</h2>
  <div class="podium-items">
    <div class="podium-item">
      <div class="card-category cerise">
        <span class="category-label">Cerise</span>
      </div>
    </div>
    <div class="podium-item">
      <div class="card-category carrot">
        <span class="category-label">Carotte</span>
      </div>
    </div>
    <div class="podium-item">
      <div class="card-category apple">
        <span class="category-label">Pommes</span>
      </div>
    </div>
    <div class="podium-item">
      <div class="card-category broccoli">
        <span class="category-label">Brocolis</span>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Ventes (€)', 'panier moyen (€)', 'Nd de clients (Nb)'],
        datasets: [{
          label: 'Résultats du mois',
          data: [10, 12, 3,],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        },
        plugins: {
          title: {
            display: true,
            text: 'Mes chiffres de ventes'
          }
        }
      }
    });
  });
</script>
